.faq h1 {
  padding: 40px 15px;
  text-align: center;
}

.faq p {
  text-align: justify;
}

.faq > .morequestions {
	text-align: center;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height:        250px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	top:     35%;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height:           250px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position:  absolute;
	top:       0;
	left:      0;
	min-width: 100%;
	height:    250px;
}