<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>
</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
			<div class="hfeed site">
			<div class="content-area">
				<main class="site-main">
					<section id='member-block' class="block">
						<div class="gallery">
													<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>2015-2016 COUNCIL</a></h3>
										<h2>Neil Woodcock</h2>
<h2>Stephanie De Vincentis</h2>
<h2>Karol Laguna-Elliott</h2>
<h2>Konrad Obritzhauser</h2>
<h2>Thomas Giannakodimos</h2>
<h2>Claudia Caouette</h2>
<h2>Nicholas Velenosi</h2>
<h2>Lianna David</h2>
<h2>Filippa Simard</h2>
<h2>Amine Mhedbi</h2>
<h2></h2>
<h2>Jan Clarence Dee</h2>
<h2>Nicholas Velenosi</h2>
<h2>Thomas Giannakodimos</h2>
<h2>Austin Hubbell</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>GENERAL</a></h3>
										<h2>Amanda Khoury</h2>
<h2>Amy Ma</h2>
<h2>Chuck Wilson</h2>
<h2>Hannah Hackney</h2>
<h2>Jassinth Thiagarajah</h2>
<h2>Katherine Kokmanian</h2>
<h2>Kimberly Noel</h2>
<h2>Matthias Martineau</h2>
<h2>Ravneet Mann</h2>
<h2>Robert Jakubowicz</h2>
<h2>Shawn Stoute</h2>
<h2>Philip Corriveau-Pelletier</h2>
<h2>Monica Lozano</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block" >
								<figure>
									<figcaption>
										<h3><a>ROCKETRY</a></h3>
										<h2>Austin Hubbell</h2>
<h2>Alexander Botros</h2>
<h2>Akhila Jani</h2>
<h2>Gregory Sorella Van der Sluys</h2>
<h2>Harley McPhee</h2>
<h2>Marco Robertson</h2>
<h2>Neil Woodcock</h2>
<h2>Philip Soares</h2>
<h2>Prakul Mittal</h2>
<h2>Rahul Rampal</h2>
<h2>Izzadiar Satoudian</h2>
<h2>Julian Quirion</h2>
<h2>Deven Patel</h2>
<h2>Hani Sayegh</h2>
<h2>Nicholas Moore</h2>
<h2>Felix Pifalo</h2>
<h2>Zhehan Qiu</h2>
<h2>Ishmael Ananng</h2>
<h2>Victoria Joseph</h2>
<h2>David Seccareccia</h2>
<h2>Givan Sathiyamoorthy</h2>
<h2>Jason Hai Dang</h2>
<h2>Mei Bao Chan</h2>
<h2>Sino Bousmia</h2>
<h2>Christophe Aoki</h2>
<h2>Alexis Arevalo</h2>
<h2>Sunny Huang</h2>
<h2>Kevin Tea</h2>
<h2>Matias Rittatore</h2>
<h2>Anita Haurie</h2>
<h2>Thomas Vaudry-Read</h2>
<h2>Anshika Srivastava</h2>
<h2>Nikunjkumar Joshi</h2>
<h2>Varinder Pal Singh</h2>
<h2>Ronak Lakhani</h2>
<h2>Dean Chevarie</h2>
<h2>Emily Oelberg</h2>
<h2>Anatoly Syutkin</h2>
<h2>Nancy Pawthawala</h2>
<h2>Karthick Raj Ramesh</h2>
<h2>Zilani Oliuddin</h2>
									</figcaption>
								</figure>
							</div>							
							<div class="entry-block">									
								<figure>
									<figcaption>
										<h3><a>SPACECRAFT</a></h3>
										<h2>Jan Clarence Dee</h2>
<h2>Daniel Kabagema</h2>
<h2>Kenton Neustaeter</h2>
<h2>Lysanne Pagé</h2>
<h2>Johana Mallma Kostyuk</h2>
<h2>Lian Zhang</h2>
<h2>Justin Whatley</h2>
<h2>Aman Bhandal</h2>
<h2>Hangi Chon</h2>
<h2>Jinbee Ahn</h2>
<h2>Amine Mhedbi</h2>
<h2>Abdeljelil Malti</h2>
<h2>Dillon D'ornellas</h2>
<h2>Emmanuel Papanagiotou</h2>
<h2>Derisha Srikanthan</h2>
<h2>Sohaib Kotwal</h2>
<h2>Athulya Ben</h2>
<h2>Elias Gonzalez Thomas</h2>
<h2>Dayelena Pyaneandee</h2>
<h2>Ka Yu Ho</h2>
<h2>Jennifer Tran</h2>
<h2>Zachary Mailman</h2>
<h2>Abir Fakhreddine</h2>
<h2>Leon Xie</h2>
<h2>Christopher Corsi</h2>
<h2>Serge Kudinov</h2>
<h2>Sana Syed</h2>
<h2>Andrew Feng</h2>
<h2>Francis Therrien</h2>
<h2>Emily Pimentel</h2>
<h2>Andy Xie</h2>
<h2>Jacques Jacobe Manirabaruta</h2>
<h2>Rami Kandela</h2>
<h2>Jennifer Brunet</h2>
<h2>Austin Hubbell</h2>
<h2>Nader Kianifar</h2>
<h2>Maral Saremi</h2>
<h2>Ka Lye Kelly, Chong</h2>
<h2>Mihai Nica</h2>
<h2>Hamid Boroumandian</h2>
<h2>Margarita Kotruts</h2>
<h2>Laura Espinosa</h2>
<h2>Nicholas Heng</h2>
<h2>Nathaly Arraiz Matute</h2>
<h2>Olivier D'Angelo</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>ROBOTICS</a></h3>
										<h2>Kaveh Dehno</h2>
<h2>Thomas Giannakodimos</h2>
<h2>James McDougall</h2>
<h2>Bryan Tallec</h2>
<h2>George Gonis</h2>
<h2>Gabrielle Bavaro</h2>
<h2>Samantha Sieklicki</h2>
<h2>Mark Snidal</h2>
<h2>Syrine Kim</h2>
<h2>Arielle Evans</h2>
<h2>Sreejith Sivaraman</h2>
<h2>Felipe Perez</h2>
<h2>James Bitharas</h2>
<h2>Dang Le (Zean)</h2>
<h2>Zhongwei Wang</h2>
<h2>Jonas Schwaiger</h2>
<h2>Benjamin Kashi</h2>
<h2>Alexander MacIsaac</h2>
<h2>Lynne Hoang-Pham</h2>
<h2>Claudia Caouette</h2>
<h2>Gregory Gibson</h2>
<h2>Jasmine</h2>
<h2>Yiwei Ge</h2>
<h2>Eric Tang</h2>
<h2>Esiri Onokurhefe</h2>
<h2>Leo Dennis</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>ALUMNI</a></h3>										
<h2>Mercedes Parrella-Ilaria</h2>
<h2>Ivan Ivanov</h2>
<h2>Nick Sweet</h2>
<h2>Ruth Anne Shooflar</h2>
<h2>Stefanos Dermenakis</h2>
<h2>Robert Jakubowicz</h2>
<h2>Shawn Stoute</h2>
<h2>Alex Teodor</h2>
<h2>Stephanie Lambrinakos-Raymond</h2>
<h2>Alex Gallo</h2>
<h2>Gregory Gibson</h2>
<h2>Jean Robert Harvey</h2>
<h2>Matthias Martineau</h2>
<h2>Alex Potapov</h2>
<h2>Sari Morcos</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>BIO-PAYLOAD</a></h3>
										<h2>Nicholas Velenosi</h2>
<h2>David Oram</h2>
<h2>Alexis Arevalo</h2>
<h2>Justin Whatley</h2>
<h2>Dilan Dilou</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>BALLOON PROJECT</a></h3>										
<h2>George Roumeliotis</h2>
<h2>David Uva</h2>
<h2>Felix Lucaciu</h2>
<h2>Anita Haurie</h2>
									</figcaption>
								</figure>
							</div>
							<div class="entry-block">
								<figure>
									<figcaption>
										<h3><a>GROUNDSTATION</a></h3>
										<h2>Nicholas Velenosi</h2>
<h2>Ty Boer</h2>
<h2>Oliver Nguyen</h2>
<h2>Shawn Bulger</h2>
<h2>Rami Kandela</h2>
<h2>David Seccareccia</h2>
<h2>Alexis Arevalo</h2>
<h2>Anthony Yuen</h2>
<h2>Matthias Martineau</h2>
<h2>Abdeljelil Malti</h2>
<h2>Steven Giannacopoulos</h2>
<h2>Ervie Capalungan</h2>
									</figcaption>
								</figure>
							</div>
						</div>
					</section>
				</main> 
			</div>
		</div>
	</div>
</body>
