<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="assets/script.js"></script> 
	<script>$(function(){$("#navigation").load("menu.html");});</script>
</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="site content-container">
		<div id="index-icons" class="gallery" style="text-align:center">
								<p>NEW STORIES</p>
					<div class="block" style="padding:5px">
							<div class="entry-block" style="padding:0px">
								<figure>
									<div class="entry-image" style="padding:0px">
										<div class="entry-image-background"><a href="http://www.concordia.ca/cunews/main/stories/2015/08/04/space-concordia-launches-first-rocket-into-space.html"><img src="assets/images/frosh.png"height="300" width="420"/></a></div>	
										<div class="entry-image-text-container"><h3><a href="http://www.concordia.ca/cunews/main/stories/2015/08/04/space-concordia-launches-first-rocket-into-space.html">VIDEO: Concordia students launch a rocket 10,000 feet into the air.</a></h3>	</div>	
									</div>
								</figure>
							</div>			
						</div>
					</div>
	</div>
</body>
