<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
		<div id="division-icons" style="text-align:center">
				<div class="gallery-parallax">
					<p>REGISTER FOR OUR DIVISIONS</p>
					<div class="block" style="padding:5px">
							<div class="entry-block" style="padding:0px">
								<figure>
									<div class="entry-image" style="padding:0px">
										<div class="entry-image-background"><a href="https://docs.google.com/a/spaceconcordia.ca/forms/d/1X-60OSZ3T5dLiSRj-zIFXnuvRMVN-cheWgqXlqMNVKE/viewform"><img src="assets/images/rocketry_logo.png"height="300" width="420"/></a></div>	
										<div class="entry-image-text-container"><h3><a href="https://docs.google.com/a/spaceconcordia.ca/forms/d/1X-60OSZ3T5dLiSRj-zIFXnuvRMVN-cheWgqXlqMNVKE/viewform">REGISTER FOR ROCKETRY DIVISION</a></h3>	</div>	
									</div>
								</figure>
							</div>							
							<div class="entry-block">
								<figure>
									<div class="entry-image" style="padding:0px">
										<div class="entry-image-background"><a href="https://docs.google.com/a/spaceconcordia.ca/forms/d/13pT69XC35iIkjJ1-Y-rQ3lOPzXT29a-57lPnc0-yADw/viewform"><img src="assets/images/spacecraft_logo.png"height="300" width="420"/></a></div>	
										<div class="entry-image-text-container"><h3><a href="https://docs.google.com/a/spaceconcordia.ca/forms/d/13pT69XC35iIkjJ1-Y-rQ3lOPzXT29a-57lPnc0-yADw/viewform">REGISTER FOR SPACECRAFT DIVISION</a></h3></div>	
									</div>
								</figure>
							</div>
							<div class="entry-block" style="padding:0px">
								<figure>
									<div class="entry-image" style="padding:0px">
										<div class="entry-image-background"><a href="https://docs.google.com/a/spaceconcordia.ca/forms/d/1RR04xofbnveDXWHf-mdJcyce3GnhjRr8EpYyKkEz2CA/viewform"><img src="assets/images/robotics_logo.png"height="300" width="420"/></a></div>	
										<div class="entry-image-text-container"><h3><a href="https://docs.google.com/a/spaceconcordia.ca/forms/d/1RR04xofbnveDXWHf-mdJcyce3GnhjRr8EpYyKkEz2CA/viewform">REGISTER FOR ROBOTICS DIVISION</a></h3></div>
									</div>
								</figure>
							</div>
						</div>
					</div>
		</div>	
	</div>
</body>
