<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
			<div class="content-area divisions">
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
						<h2><a>ROBOTICS DIVISION</a></h2>	
						</div>
						<div>
							<a><img src="assets/images/division_robotics.png" style="height:300px;"></img></a>
							<br>
							<p>This division came in existence as a result of a big capstone project. Over the course of a year, 
							we designed and built a rover for the University Rover Competition in Utah. The rover is supposed to function in a simulated Mars environment. 
							The Robotics Division also gets to work on other robotic projects. This year, we're planning to send a team to IEEE's RoboWars competition. 
							It has 4 subteams: Software, Power, Electrical, and Mechanical.</p>
							<br>
							<p>Software team: works on the rover communication on the software end, the interface the controllers will use to interact with the rover, 
							and the video streaming</p>
							<br>
							<p>Electrical team: works on the microcontrollers and logic circuitry.</p>
							<br>
							<p>Power team: works with the electrical power distribution system and the battery supply.</p>
							<br>
							<p>Mechanical team: deals with the rover's physical structure, component layout, specifications for desired tasks, 
							and the machining of parts and adjustments. We are currently recruiting Mechanical and Electrical Engineers.</p>
							<br>
							<a class="title"><p>For more information contact robotics.recruitment@spaceconcordia.ca</p></a>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/L7JK9RzrjuA" frameborder="0" allowfullscreen></iframe>
						</div>
					</section>
				</main>
		</div>
	</div>
</body>
