<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
			<div class="content-area divisions">
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
						<h2><a>ROCKETRY DIVISION</a></h2>	
						</div>
						<div>
							<a><img src="assets/images/division_rocketry.png" style="height:300px;"></img></a>
							<br>
							<p>The Rocketry division aims to  compete in the Intercollegiate Rocket Engineering Competition (IREC). 
							This is a yearly competition which hosts some of the top aerospace engineering schools in the world. 
							The team brings together students from all disciplines to design and build a sounding rocket. 
							The rocket must transport a 10 pound payload to an altitude of around 10,000 ft. 
							There are also significant points awarded for recovering the rocket in re-launchable condition. 
							This involves bringing the rocket to the ground at a slow enough speed to cause no damage, 
							as well as being able to track the rocket's position throughout the flight using wireless telemetry. 
							Rocketry has recently returned from competing in the 2015 IREC in Utah. 
							We won 2nd place payload award out of approximately 35 teams. 
							This is a huge achievement and the team is excited to compete next year in June 2016.</p>
							<br>
							<p>Structure: The structure team looks after the majority of the rocket, excluding the payload, 
							the propulsion and he electronic systems. They are responsible for designing, analyzing and testing all aerostructures, 
							recovery systems and internal structures. As well, they a responsible for managing the flight performance of the vehicle to ensure a safe, 
							stable and accurate flight. Members of this team will be expected to learn and use computer assisted design (CAD) 
							and computer assisted engineering (CAE) software such as CATIA or ANSYS to solve a variety of engineering problems, 
							such as predicting the effects of vibrations or verifying the integrity of composite structures. 
							Students will also be expected to learn and understand rocket flight dynamics and learn and use MATLAB 
							so that they can accurately predict the flight characteristics of the vehicle.</p>
							<br>
							<p>Payload: The payload team is responsible for designing an experiment which will fit into an area defined by 
							the requirements of other teams. This experiment must be scientifically relevant. 
							Previously, the team has built experiments for measuring quantities of radiation in the atmosphere.</p>
							<br>
							<p>Avionics: The avionics team is responsible for designing, analyzing and testing the electronic systems of the rocket. 
							The systems must be capable of detecting the current state of the rocket in terms of velocity, altitude, 
							acceleration and geographical position. This data must be used for proper execution of the recovery systems to ensure the 
							safe landing of the rocket. The systems are also expected to return real-time telemetry to operators on the ground. 
							Students working on this team are expected to learn how to program and work with micro-controllers, how to fabricate 
							electronic components and PCBs, use CAD methods such as EagleCAD to design electronic components and 
							properly integrate all components with the space allocated by other teams.</p>
							<br>
							<p>Propulsion: The propulsion is currently in the process of developing a hybrid rocket motor. 
							This motor will eventually be integrated with the other components of the rocket. Students working on this team will be expected to 
							learn about propulsion, gas dynamics and combustion. They will be expected to use software such as CATIA, 
							ANSYS and MATLAB to properly design and analyze the motor and to prepare it for testing and eventually flight.</p>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/gsRx6q60VE4" frameborder="0" allowfullscreen></iframe>
						</div>
					</section>
				</main>				
		</div>
	</div>
</body>
