<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
			<div class="content-area divisions">
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
						<h2><a>SPACECRAFT DIVISION</a></h2>	
						</div>
						<div>
							<a><img src="assets/images/division_spacecraft.png" style="height:200px"alt></a>
							<br>
							<br>
							<p>Space Concordia Spacecraft Division is divided into 3 groups, for the 3 iterations of CSDC. 
							Consat-1 is the society's first entry and it won 1st place in the competition on 2012. Its mission was to study the radiation in the South Pacific Anomaly. 
							Thanks to this accomplishment, we are able to develop a ground station inside Concordia. Consat-1 is still under development, 
							and is reaching its final phases of testing. Launch provider and launch date is still unknown, but is currently being worked on. 
							Consat-2 is Concordia's 2nd satellite, and also won 2nd place in CSDC on 2014. Its main mission was to test the mechanical 
							properties of a self-healing material in space. During the competition, the society changed its name to Aleksandr in response to a large donation. 
							We are currently in the 3rd iteration of CSDC, and the society as a whole decided to rework on Aleksandr for the competition. 
							The reason to this is because it takes more than 2 years to develop a spacecraft, especially as undergraduate students (take Consat-1 for example). 
							We plan on not only finishing Aleksandr, but to improve it as a whole. Aleksandr is Space Concordia's 2nd and 3rd entry into CSDC. It is a 3U-Cubesat.</p>
							<br>
							<p>Our Sub-teams:</p>
							<br>
							<p>Mechanical Team: The Mechanical team is responsible for the research, development, and implementation proper spacecraft design such as vibration, 
							temperature, radiation shielding, and atmospheric requirements. They are in charge of the design, mechanical analysis and the manufacturing of the satellite.</p>
								<br>					
							<p>Payload Team: The Payload team is responsible for the research, development, and implementation of the payload into the satellite. 
							They ensures that the experiment will succeed once in orbit in every aspect.</p>
							<br>				
							<p>Attitude and Control System team:  is responsible for the research, development, and implementation of proper techniques and tools to 
							monitor and control the satellite's navigation, including attitude determination, attitude control, and orbit determination. 
							They are in charge of running simulations to ensure that the satellite does not fall out of orbit.</p>
								<br>					
							<p>C&DH Team: The Command & Data Handling team is responsible for the research, development, and implementation of proper 
							techniques and tools to build the main computer hardware and interfaces between all the subsystems of the satellite.</p>
								<br>					
							<p>Software Team: is responsible for the research, development, and implementation of the code required to run both the 
							satellite and the ground station. They are in charge of running the software of each subsystem as well.</p>
									<br>				
							<p>Communications Team:  is responsible for research, development, and implementation of proper techniques and tools to 
							upload and download data to and from the satellite. They are in charge of allocating memory and storing the science data of the satellite. 
							They are also in charge of ensuring the success of our downlink and uplink.</p>
										<br>			
							<p>Power Team:  is responsible for the research, development, and implementation of proper techniques to power the 
							different subsystems of the satellite. They are in charge of constructing the power budget, determining the power input from 
							our solar cells and distributing this power within the satellite.</p>
									<br>			
							<p>Systems Team: is responsible for monitoring, synchronizing, and regulating the relation of each subsystem to the overall system. 
							As well, the Systems team must review and develop overall mission objectives. 
							They look over the integration tests and also are in charge that there is no misunderstanding between each subsystem.</p>
						</div>
					</section>
				</main>
		</div>
	</div>
</body>
