/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper .navbar {
	background-color: #841f26;
}

.navbar-brand img {
	background-color: #841f26;
}

.rocketry h1 {
	padding: 40px 15px;
	text-align: center;
}

.rocketry p {
	text-align: justify;
}

.nav.navbar-nav li a {
	color: #c7ae72;
}

.nav.navbar-nav .dropdown-menu li a {
	color: #000000;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.projects .col-lg-6 {
	margin-bottom: 20px;
	text-align: center;
}
.projects h2 {
	text-align: center;
	margin-bottom: 40px;
}

.projects h4 {
	font-weight: normal;
}

.projects .col-lg-6 p {
	margin-right: 10px;
	margin-left: 10px;
}

.projects .col-lg-12 h1 {
	text-align: center;
	margin-bottom: 50px;
}

.projects .col-lg-12 p {
	text-align: center;
}

.projects .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

#sponsors {
	margin-top: 20px;
	margin-bottom: 0px;
}

.marketing .featurette-heading {
	margin-top: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 400px;
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	top: 30%;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 400px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 400px;
}