/*HEADER MENU
*/

a {
color:#1a76ff;
}

.gallery h1, .gallery h2, .gallery h3 {
margin-top:0px;
margin-bottom:0px;
}

#navigation {
    background: none repeat scroll 0% 0% #778899;
    height: 45px;
    position: fixed;
    z-index: 999999;
    width: 100%;
	border-bottom: 1px solid #778899;
	opacity: 0.95;
	 -moz-opacity: 0.95;
	 -webkit-opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

#navigation .container {
    position: relative;
}

.site{
	width:70%;
	padding:0 0;
	    margin: 0 auto;
	max-width:1280px;
}

.menu {
    margin: 0px auto;
	list-style: outside none none;
}

.menu-left {
    float: left;
    margin: 0px auto;
	list-style: outside none none;
}

.menu-right {
    float: right;
    margin: 0px auto;
	list-style: outside none none;
}

.menu li,.menu-left li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

#menu-last {
    margin-right: 0px;
}

#concordia-title a {
    font-size: 13px;
    font-weight: 700;
	letter-spacing: 2px;
}

.menu li a,.menu-left li a {
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #333;
    line-height: 45px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.menu-right li a{
color:#fff38f;
}
/* PHOTO SLIDER
*/
@keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
20% { left: -100.05%; }
35% { left: -100.05%; }
40% { left: -200.1%; }
55% { left: -200.1%; }
60% { left: -300.15%; }
75% { left: -300.15%; }
80% { left: -400.2%; } 
100% { left: -400.2%; } 
}

@-webkit-keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
20% { left: -100.05%; }
35% { left: -100.05%; }
40% { left: -200.1%; }
55% { left: -200.1%; }
60% { left: -300.15%; }
75% { left: -300.15%; }
80% { left: -400.2%; } 
100% { left: -400.2%; } 
}

@-moz-keyframes slidy {
0% { left: 0%; }
15% { left: 0%; }
20% { left: -100.05%; }
35% { left: -100.05%; }
40% { left: -200.1%; }
55% { left: -200.1%; }
60% { left: -300.15%; }
75% { left: -300.15%; }
80% { left: -400.2%; } 
100% { left: -400.2%; } 
}

figure.slider figure figcaption {
position: absolute; bottom: -3.5rem;
background: rgba(0,0,0,0.3);
color: #fff; width: 100%;
font-size: 2rem; padding: .6rem;
transition: .5s bottom;
}

figure.slider img { 
width: 100%; 
height: 600px; 
}


div#captioned-gallery { 
width: 100%; 
overflow: hidden; 
max-height:600px;
}

figure { 
margin: 0; 
}

figure.slider {
position: relative; 
width: 500%;
font-size: 0; 
animation: 30s slidy infinite;
-webkit-animation: 30s slidy infinite;
-moz-animation: 30s slidy infinite;

}

figure.slider figure {
width: 20%; 
height: auto;
display: inline-block;
position: inherit;
}


/* 5 image section front page
*/
.entry-image h3{
 text-align: center;
 min-height: 55px;
}



/*
SPONSERS
*/

.title-header{ 
width: 100%; 
overflow: hidden; 
max-height:100px;
margin-bottom: 20px;
padding-top: 25px;
text-align: center;
}

.title-header h2 {
margin: 0px;
}

.title-header h2 a {
font-size: 20px;
color: #000;
letter-spacing: 4px;
font-weight: 400;
text-transform: uppercase;
transition: all 0.3s ease 0s;
}
.title-header span a{
    display: inline-block;
    margin-bottom: 12px;
    font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
	color: #CEA525;
}

.content-container{
padding-top:45px;
}

.gallery li, .gallery article {
    padding: 0px;
    display: inline-block;
    position: relative;
    float: left;
	background: none repeat scroll 0% 0% #FFF;
	}
/*
.gallery li:nth-child(5n), .gallery article:nth-child(5n) {
    margin-right: 0px;
}
.gallery li, .gallery article {
    padding: 0px;
    display: inline-block;
    position: relative;
    float: left;
    width: 19%;
    margin: 0px 1.25% 1.25% 0px;
    background: none repeat scroll 0% 0% #FFF;
}

.gallery li:nth-child(5n+0),.gallery article:nth-child(5n+0){
	margin-right:0;
}

.gallery li:nth-child(5n+1),.gallery article:nth-child(5n+1){
	clear:left;
}

*/

/*INTRO TEXT
*/


.lead-intro {
text-align: center;
}




.home-section .section-header {
    text-align: center;
}

.title-with-sep .title, .title-with-sep .entry-title {
    display: inline-block;
    line-height: 120%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFF;
}

.title-with-sep, .title-with-bg, .classic-layout .entry-title, .posts-slider .entry-title {
    font-size: 42px;
}
.title-with-bg {
    padding: 200px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-with-bg, .title-with-bg a, .title-with-bg .read-more, .title-with-bg .sub-title, .title-with-bg .entry-title, .content-over-image, .content-over-image a, .content-over-image .read-more, .content-over-image .entry-meta, .content-over-image .entry-title {
    color: #FFF;
}

.title-with-bg, .title-with-sep {
    line-height: 100%;
}

.home-section .section-header {
    text-align: center;
}

.home-section, .home-section .section-header {
    margin-bottom: 30px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

a {
    text-decoration: none;
}

.member-block{
	position:relative;
}

.sponser-block{
	position:relative;
}

.main-navigation,#up{
	background-color:rgba(0,0,0,.2);
}

.scrolling,.scrolling ul ul{
	background-color:#000;
}


.site-header a,.site-header a:visited{
	color:rgba(255,255,255,0.9);
	text-decoration: none;
	outline: 0;
}

.site-header a:hover{
	color:rgba(255,255,255,1);
	text-decoration: none;
	outline: 0;
}

body{
	color:#fff;
	color:rgba(255,255,255,0.9);
}

.block{
	padding:10px 0;
	display:block;
	clear:both;
}

.site-header h1,.site-header h2,.site-header .btn{
	margin-bottom:10px;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	border:0;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
	outline: 0;
	font-family: "Open Sans",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
}

html{
	font-size:62.5%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body{
}

#page {

}

figcaption {
	background-color:#DCDAF1;
}

article,aside,details,figcaption,figure,footer,header,main,nav,section{
	display:block;
}

ol,ul{
	list-style:none;
}

table{
	border-collapse:separate;
	border-spacing:0;
}

caption,th,td{
	font-weight:normal;
	text-align:left;
}

a:focus{
	outline:thin dotted;
}

a:hover,a:active{
	outline:0;
}

a img{
	border:0;
}

body,button,input,select,textarea{
	color:#404040;
	font-family:sans-serif;
	font-size:16px;
	line-height:1.5;
}

h1,h2,h3,h4,h5,h6{
	clear:both;
	margin-bottom:0.8em;
}

hr{
	background-color:#ccc;
	border:0;
	height:1px;
	margin-bottom:1.5em;
}

p{
	margin-bottom:1.5em;
}

ul,ol{
	margin:0 0 1.5em 3em;
}

ul{
	list-style:disc;
}

ol{
	list-style:decimal;
}

li>ul,li>ol{
	margin-bottom:0;
	margin-left:1.5em;
}

dt{
	font-weight:bold;
}

dd{
	margin:0 1.5em 1.5em;
}

b,strong{
	font-weight:bold;
}

dfn,cite,em,i{
	font-style:italic;
}

sup{
	bottom:1ex;
}

sub{
	top:.5ex;
}

small{
	font-size:75%;
}

big{
	font-size:125%;
}

figure{
	margin:0;
}

img{
	height:auto;
	max-width:100%;
}

a,a:visited{
	color:#DCDAF1;
	text-decoration: none;
}

a:hover,a:focus,a:active{
	color:#DCDAF1;
	text-decoration:none;	
}

.entry-content a,.page-header a{
	text-decoration:underline;
}

.more-link{
	text-decoration:underline;
}

.alignleft{
	display:inline;
	float:left;
	margin-right:1.5em;
}

.alignright{
	display:inline;
	float:right;
	margin-left:1.5em;
}

.aligncenter{
	clear:both;
	display:block;
	margin:0 auto;
}


table{
	margin-bottom:1.5em;
	width:100%;
	max-width:100%;
}

thead tr:last-of-type th{
	border-bottom-width:2px;
}

.main-navigation{
	position:fixed;
	top:0;
	left:0;
	clear:both;
	display:block;
	float:left;
	width:100%;
	text-transform:uppercase;
	z-index:5;
	-webkit-transition:background-color 300ms linear;
	-moz-transition:background-color 300ms linear;
	-o-transition:background-color 300ms linear;
	-ms-transition:background-color 300ms linear;
	transition:background-color 300ms linear;
}

.main-navigation ul{
	list-style:none;
	margin:0;
	padding-left:0;
	float:right;
}

.main-navigation li{
	float:left;
	position:relative;
}

.main-navigation a{
	display:block;
	text-decoration:none;
	padding:1em;
}

.main-navigation ul ul{
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
	display:none;
	float:left;
	left:0;
	position:absolute;
	top:3.5em;
	z-index:99999;
	text-align:left;
	background:rgba(0,0,0,.2);
}

.main-navigation ul li:last-child ul{
	left:-100%;
}

.main-navigation ul ul ul{
	left:100%;
	top:0;
}

.main-navigation ul ul a{
	width:200px;
}

.main-navigation ul li:hover>ul{
	display:block;
}

.main-navigation .current_page_item a,.main-navigation .current-menu-item a{
	color:#f23e2f;
}

ul.subpage{
	list-style:none;
	margin:0 0 1em 0;
}

ul.subpage li{
	display:inline;
	margin-right:1em;
}

.menu-toggle{
	cursor:pointer;
	display:none;
}

.sticky{
}

.byline,.updated{
	display:none;
}

.single .byline,.group-blog .byline{
	display:inline;
}

.page-content,.entry-content,.entry-summary{
	margin:1.5em 0 0;
}

.page-links{
	clear:both;
	margin:0 0 1.5em;
}

.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{
	border:none;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}

.site-main .gallery{
	margin-bottom:1.5em;
}

.gallery-caption{
}

.slides .flex-caption{
	width:100%;
	text-align:center;
	color:#eeeeee;
	top:75%;
}

.site-main .gallery a img{
	border:none;
	height:auto;
	max-width:100%;
}

.site-main .gallery dd{
	margin:0;
}

.entry-image{
	position:relative;
}

.gallery-item,.gallery-sm-item{
	color:rgba(255,255,255,.5);
	position:absolute;
	bottom:0;
	right:0;
	padding:10px;
	z-index:9;
}

.gallery-item .genericon,.gallery-sm-item .genericon,.gallery-blog-item .genericon{
	font-size:26px;
	width:26px;
	height:26px;
}

.gallery-item:hover,.gallery-sm-item:hover,.gallery-blog-item:hover{
	color:rgba(255,255,255,.8);
}

embed,iframe,object{
	max-width:100%;
}

.site-main [class*="navigation"]{
	margin:0 0 1.5em;
	overflow:hidden;
}

.site-main .paging-navigation{
	margin-bottom:3em;
	float:left;
	width:100%;
}

[class*="navigation"] .nav-previous{
	float:left;
	width:50%;
}

[class*="navigation"] .nav-next{
	float:right;
	text-align:right;
	width:50%;
}

.comment-content a{
	word-wrap:break-word;
}

.bypostauthor{
}

body{
	background-size:cover;
}
/*
.site{
	width:70%;
	padding:0 0;
	    margin: 0 auto;
	max-width:1280px;
}

#site-header,#site-header img{
	width:100%;
	float:left;
	height:auto;
}

.site-header{
	text-align:center;
	z-index:101;
}

.site-message{
	font-size:1.5em;
	line-height:1.5;
	margin-bottom:40px;
}

.site-header:before{
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;
}

.site-branding{
	display:inline-block;
	vertical-align:middle;
	width:50%
}

.site-title.fixed,.not-home .site-title{
	position:fixed;
	top:0;
	left:0;
	width:auto;
	z-index:10;
}

h1.site-title.fixed,.not-home h1.site-title{
	font-size:20px;
	margin:10px 10px 0 10px;
}

.admin-bar h1.site-title.fixed,.admin-bar.not-home h1.site-title{
	margin-top:38px;
}

.site-header h2{
	font-size:1.5em;
	line-height:1.5;
}
*/
h2.widget-title,h3.widget-title{
	font-size:1.5em;
	text-transform:uppercase;
	margin:1em 0;
}

.page-title,.section-title{
	text-transform:capitalize;
}

.not-home .site-header.block{
	padding:20px 0;
}

.gallery{
	list-style:none;
	padding:0;
	margin:0;
}
/*
.gallery li,.gallery article{
	padding:0;
	display:inline-block;
	position:relative;
	float:left;
	width:18%;
	margin:0 2% 2% 0;
	background:#ffffff;
}

.gallery li:nth-child(5n+0),.gallery article:nth-child(5n+0){
	margin-right:0;
}

.gallery li:nth-child(5n+1),.gallery article:nth-child(5n+1){
	clear:left;
}
*/
.archive .gallery article{
	padding:0;
}

.gallery figure img{
	max-width:100%;
	display:block;
	margin:0 auto;
}

/*
.gallery figcaption{
	padding:5%;
	position:relative;
	float:left;
	width:100%;
}

.gallery figcaption h3{
	margin:10px 0;
	text-transform:uppercase;
	font-size:1em;
	color:#222;
}

.gallery figcaption h3 a{
	color:#222;
}

.gallery figcaption h3 a:hover{
	color:#f23e2f;
}

.gallery figcaption span{
	font-size:.9em;
	color:#999999;
}

.gallery figcaption .genericon{
	position:absolute;
	bottom:.5em;
	right:.5em;
	font-size:20px;
	width:20px;
	height:20px;
	color:#999999;
}

.gallery figcaption .genericon:hover{
	color:#f23e2f;
}

#colophon{
	float:left;
	width:100%;
}

*/

.site-footer{
	margin-bottom:40px;
}

#up{
	float:right;
	padding:5px;
	border-radius:2px;
	width:26px;
	height:26px;
}

.entry-meta{
	background:rgba(0,0,0,.2);
	color:#fff;
	font-size:.8em;
	padding:1em;
	margin:1em 0;
}

.entry-meta a{
	color:#fff;
}

.entry-meta .genericon{
	vertical-align:middle;
}

.assistive-text{
	display:none;
}

#nav-below{
	width:100%;
	float:left;
	margin:1em 0 2em 0;
}

nav .nav-previous{
	float:left;
}

nav .nav-next{
	float:right;
}

.gallery figcaption a{
	color:#f23e2f;
}

.gallery .portfolio-meta{
	float:left;
	width:100%;
}

.page-header{
	border:0;
	margin-top:0;
}
