
@media screen and (min-width: 1104px) {
.gallery li:nth-child(5n), .gallery article:nth-child(5n) {
    margin-right: 0px;
}
.gallery li, .gallery article {
    padding: 0px;
    display: inline-block;
    position: relative;
    float: left;
    width: 19%;
    margin: 0px 1.25% 1.25% 0px;
    background: none repeat scroll 0% 0% #FFF;
}

.gallery li:nth-child(5n+0),.gallery article:nth-child(5n+0){
	margin-right:0;
}

.gallery li:nth-child(5n+1),.gallery article:nth-child(5n+1){
	clear:left;
}

}


@media screen and (min-width:801px) and (max-width: 1103px ) {
.menu-left {
display:none;
}

	.gallery li:nth-child(4n+0),.gallery article:nth-child(4n+0){
	margin-right:0;
	}

.	gallery li:nth-child(4n+1),.gallery article:nth-child(4n+1){
	clear:left;
	}
	.gallery li,.gallery article{
	width:23%;
	margin:0 2.66% 2.66% 0;

}

}

@media screen and (min-width: 601px) and (max-width: 800px) {
	.menu-right {
	display:none;
	}

	.menu-toggle,.main-navigation.toggled .nav-menu,.main-navigation.toggled li{
		display:block;
		width:100%;
	}

	.main-navigation ul ul,.main-navigation ul ul a,.main-navigation ul ul ul{
		position:relative;
		display:block;
		background:transparent;
		text-align:center;
		width:100%;
		top:0;
		left:0;
		font-size:0.9em;
		box-shadow:none;
	}

	.main-navigation ul{
		display:none;
	}
	
	.gallery li:nth-child(3n+0),.gallery article:nth-child(3n+0){
	margin-right:0;
	}

.	gallery li:nth-child(3n+1),.gallery article:nth-child(3n+1){
	clear:left;
	}
	.gallery li,.gallery article{
	width:30%;
	margin:0 5% 5% 0;

}

}

@media screen and (max-width: 600px) {
	.block{
		padding-top:20px;
	}

	.site-branding{
		width:100%
	}

	.block{
		height:auto!important;
	}

	.gallery li,.gallery article{
		display:block;
		position:relative;
		width:100%;
		margin:0 auto 2em;
	}

	nav.main-navigation{
		background-color:rgba(0,0,0,1);
	}
	
	.site{
	width:100%;
}

	.site-title.fixed{
		display:none;
	}

	#menu-short{
		overflow-y:auto;
		max-height:400px;
	}

}