a {
    text-decoration: none;
}

.member-block{
	position:relative;
}

.sponser-block{
	position:relative;
}

.main-navigation,#up{
	background-color:rgba(0,0,0,.2);
}

.scrolling,.scrolling ul ul{
	background-color:#000;
}


.site-header a,.site-header a:visited{
	color:rgba(255,255,255,0.9);
	text-decoration: none;
	outline: 0;
}

.site-header a:hover{
	color:rgba(255,255,255,1);
	text-decoration: none;
	outline: 0;
}

body{
	color:#fff;
	color:rgba(255,255,255,0.9);
}

.block{
	padding:10px 0;
	display:block;
	clear:both;
}

.site-header h1,.site-header h2,.site-header .btn{
	margin-bottom:10px;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	border:0;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
	outline: 0;
}

html{
	font-size:62.5%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body{
}

#page {

}

figcaption {
	background-color:#DCDAF1;
}

article,aside,details,figcaption,figure,footer,header,main,nav,section{
	display:block;
}

ol,ul{
	list-style:none;
}

table{
	border-collapse:separate;
	border-spacing:0;
}

caption,th,td{
	font-weight:normal;
	text-align:left;
}

a:focus{
	outline:thin dotted;
}

a:hover,a:active{
	outline:0;
}

a img{
	border:0;
}

body,button,input,select,textarea{
	color:#404040;
	font-family:sans-serif;
	font-size:16px;
	line-height:1.5;
}

h1,h2,h3,h4,h5,h6{
	clear:both;
	margin-bottom:0.8em;
}

hr{
	background-color:#ccc;
	border:0;
	height:1px;
	margin-bottom:1.5em;
}

p{
	margin-bottom:1.5em;
}

ul,ol{
	margin:0 0 1.5em 3em;
}

ul{
	list-style:disc;
}

ol{
	list-style:decimal;
}

li>ul,li>ol{
	margin-bottom:0;
	margin-left:1.5em;
}

dt{
	font-weight:bold;
}

dd{
	margin:0 1.5em 1.5em;
}

b,strong{
	font-weight:bold;
}

dfn,cite,em,i{
	font-style:italic;
}

blockquote{
	margin:0 1.5em;
	background:rgba(0,0,0,.2);
	padding:1em;
	margin-bottom:1em;
	border-left:5px solid rgba(0,0,0,.2);
}

address{
	margin:0 0 1.5em;
}

sup{
	bottom:1ex;
}

sub{
	top:.5ex;
}

small{
	font-size:75%;
}

big{
	font-size:125%;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	border:0;
	font-family:inherit;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

html{
	font-size:62.5%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

body{
	background:#fff;
}

article,aside,details,figcaption,figure,footer,header,main,nav,section{
	display:block;
}

ol,ul{
	list-style:none;
}

table{
	border-collapse:separate;
	border-spacing:0;
}

caption,th,td{
	font-weight:normal;
	text-align:left;
}

blockquote:before,blockquote:after,q:before,q:after{
	content:"";
}

blockquote,q{
	quotes:"" "";
}

a:focus{
	outline:thin dotted;
}

a:hover,a:active{
	outline:0;
}

a img{
	border:0;
}

body,button,input,select,textarea{
	color:#404040;
	font-family:sans-serif;
	font-size:16px;
	line-height:1.5;
}

h1,h2,h3,h4,h5,h6{
	clear:both;
	margin-bottom:0.8em;
}

hr{
	background-color:#ccc;
	border:0;
	height:1px;
	margin-bottom:1.5em;
}

p{
	margin-bottom:1.5em;
}

ul,ol{
	margin:0 0 1.5em 3em;
}

ul{
	list-style:disc;
}

ol{
	list-style:decimal;
}

li>ul,li>ol{
	margin-bottom:0;
	margin-left:1.5em;
}

dt{
	font-weight:bold;
}

dd{
	margin:0 1.5em 1.5em;
}

b,strong{
	font-weight:bold;
}

dfn,cite,em,i{
	font-style:italic;
}

blockquote{
	margin:0 1.5em;
	background:rgba(0,0,0,.2);
	padding:1em;
	margin-bottom:1em;
	border-left:5px solid rgba(0,0,0,.2);
}

address{
	margin:0 0 1.5em;
}

pre{
	background:#eee;
	font-family:"Courier 10 Pitch",Courier,monospace;
	font-size:15px;
	font-size:1.5rem;
	line-height:1.6;
	margin-bottom:1.6em;
	max-width:100%;
	overflow:auto;
	padding:1.6em;
}

code,kbd,tt,var{
	font:15px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

abbr,acronym{
	border-bottom:1px dotted #666;
	cursor:help;
}

mark,ins{
	background:rgba(0,0,0,0.5);
	padding:3px;
	text-decoration:none;
}

sup,sub{
	font-size:75%;
	height:0;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}

sup{
	bottom:1ex;
}

sub{
	top:.5ex;
}

small{
	font-size:75%;
}

big{
	font-size:125%;
}


figure{
	margin:0;
}

table{
	margin:0 0 1.5em;
	width:100%;
}


th{
	font-weight:bold;
}


img{
	height:auto;
	max-width:100%;
}

a,a:visited{
<<<<<<< HEAD
	color:#DCDAF1;
	text-decoration: none;
}

a:hover,a:focus,a:active{
	color:#DCDAF1;
	text-decoration:none;	

	color:#404040;
}

.entry-content a,.page-header a{
	text-decoration:underline;
}

a:hover,a:focus,a:active{
	color:#f23e2f;
	text-decoration:none;

}

.more-link{
	text-decoration:underline;
}

.alignleft{
	display:inline;
	float:left;
	margin-right:1.5em;
}

.alignright{
	display:inline;
	float:right;
	margin-left:1.5em;
}

.aligncenter{
	clear:both;
	display:block;
	margin:0 auto;
}


table{
	margin-bottom:1.5em;
	width:100%;
	max-width:100%;
}

thead tr:last-of-type th{
	border-bottom-width:2px;
}

.main-navigation{
	position:fixed;
	top:0;
	left:0;
	clear:both;
	display:block;
	float:left;
	width:100%;
	text-transform:uppercase;
	z-index:5;
	-webkit-transition:background-color 300ms linear;
	-moz-transition:background-color 300ms linear;
	-o-transition:background-color 300ms linear;
	-ms-transition:background-color 300ms linear;
	transition:background-color 300ms linear;
}

.main-navigation ul{
	list-style:none;
	margin:0;
	padding-left:0;
	float:right;
}

.main-navigation li{
	float:left;
	position:relative;
}

.main-navigation a{
	display:block;
	text-decoration:none;
	padding:1em;
}

.main-navigation ul ul{
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
	display:none;
	float:left;
	left:0;
	position:absolute;
	top:3.5em;
	z-index:99999;
	text-align:left;
	background:rgba(0,0,0,.2);
}

.main-navigation ul li:last-child ul{
	left:-100%;
}

.main-navigation ul ul ul{
	left:100%;
	top:0;
}

.main-navigation ul ul a{
	width:200px;
}

.main-navigation ul li:hover>ul{
	display:block;
}

.main-navigation .current_page_item a,.main-navigation .current-menu-item a{
	color:#f23e2f;
}

ul.subpage{
	list-style:none;
	margin:0 0 1em 0;
}

ul.subpage li{
	display:inline;
	margin-right:1em;
}

.menu-toggle{
	cursor:pointer;
	display:none;
}


.main-navigation li.twitter a,.main-navigation li.facebook a,.main-navigation li.feed a,.main-navigation li.vimeo a,.main-navigation li.google-plus a,.main-navigation li.pinterest a,.main-navigation li.github a,.main-navigation li.youtube a,.main-navigation li.linkedin a,.main-navigation li.instagram a,.main-navigation li.wordpress a{
	width:16px;
	height:100%;
	overflow:hidden;
	display:block;
}

li.twitter a:before,li.facebook a:before,li.feed a:before,li.vimeo a:before,li.wordpress a:before,li.google-plus a:before,li.pinterest a:before,li.github a:before,li.youtube a:before,li.linkedin a:before,li.instagram a:before,.menu-toggle:before{
	font-family:'Genericons';
	speak:none;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	text-shadow:none;
}

.sticky{
}

.byline,.updated{
	display:none;
}

.single .byline,.group-blog .byline{
	display:inline;
}

.page-content,.entry-content,.entry-summary{
	margin:1.5em 0 0;
}

.page-links{
	clear:both;
	margin:0 0 1.5em;
}

.blog .format-aside .entry-title,.archive .format-aside .entry-title{
	display:none;
}

.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{
	border:none;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}

.site-main .gallery{
	margin-bottom:1.5em;
}

.gallery-caption{
}

.slides .flex-caption{
	width:100%;
	text-align:center;
	color:#eeeeee;
	top:75%;
}

.site-main .gallery a img{
	border:none;
	height:auto;
	max-width:100%;
}

.site-main .gallery dd{
	margin:0;
}

.entry-image{
	position:relative;
}

.gallery-item,.gallery-sm-item{
	color:rgba(255,255,255,.5);
	position:absolute;
	bottom:0;
	right:0;
	padding:10px;
	z-index:9;
}

.gallery-item .genericon,.gallery-sm-item .genericon,.gallery-blog-item .genericon{
	font-size:26px;
	width:26px;
	height:26px;
}

.gallery-item:hover,.gallery-sm-item:hover,.gallery-blog-item:hover{
	color:rgba(255,255,255,.8);
}

embed,iframe,object{
	max-width:100%;
}

.site-main [class*="navigation"]{
	margin:0 0 1.5em;
	overflow:hidden;
}

.site-main .paging-navigation{
	margin-bottom:3em;
	float:left;
	width:100%;
}

[class*="navigation"] .nav-previous{
	float:left;
	width:50%;
}

[class*="navigation"] .nav-next{
	float:right;
	text-align:right;
	width:50%;
}

.comment-content a{
	word-wrap:break-word;
}

.bypostauthor{
}

body{
	background-size:cover;
}

.site{
	width:90%;
	margin:3em auto;
	padding:0 5%;
	max-width:1280px;
}

#site-header,#site-header img{
	width:100%;
	float:left;
	height:auto;
}

.site-header{
	text-align:center;
	z-index:101;
}

.site-message{
	font-size:1.5em;
	line-height:1.5;
	margin-bottom:40px;
}

.site-header:before{
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;
}

.site-branding{
	display:inline-block;
	vertical-align:middle;
	width:50%
}

.site-title.fixed,.not-home .site-title{
	position:fixed;
	top:0;
	left:0;
	width:auto;
	z-index:10;
}

h1.site-title.fixed,.not-home h1.site-title{
	font-size:20px;
	margin:10px 10px 0 10px;
}


.site-header h2{
	font-size:1.5em;
	line-height:1.5;
}

h2.widget-title,h3.widget-title{
	font-size:1.5em;
	text-transform:uppercase;
	margin:1em 0;
}

.page-title,.section-title{
	text-transform:capitalize;
}

.not-home .site-header.block{
	padding:20px 0;
}

.gallery{
	list-style:none;
	padding:0;
	margin:0;
}

.gallery li,.gallery article{
	padding:0;
	display:inline-block;
	position:relative;
	float:left;
	width:30%;
	margin:0 5% 5% 0;
	background:#ffffff;
}

.archive .gallery article{
	padding:0;
}

.gallery li:nth-child(3n+0),.gallery article:nth-child(3n+0){
	margin-right:0;
}

.gallery li:nth-child(3n+1),.gallery article:nth-child(3n+1){
	clear:left;
}

.gallery figure img{
	max-width:100%;
	display:block;
	margin:0 auto;
}

.gallery figcaption{
	padding:5%;
	position:relative;
	float:left;
	width:100%;
}

.gallery figcaption h3{
	margin:10px 0;
	text-transform:uppercase;
	font-size:1em;
	color:#222;
}

.gallery figcaption h3 a{
	color:#222;
}

.gallery figcaption h3 a:hover{
	color:#f23e2f;
}

.gallery figcaption span{
	font-size:.9em;
	color:#999999;
}

.gallery figcaption .genericon{
	position:absolute;
	bottom:.5em;
	right:.5em;
	font-size:20px;
	width:20px;
	height:20px;
	color:#999999;
}

.gallery figcaption .genericon:hover{
	color:#f23e2f;
}

#colophon{
	float:left;
	width:100%;
}

.site-footer{
	margin-bottom:40px;
}

#up{
	float:right;
	padding:5px;
	border-radius:2px;
	width:26px;
	height:26px;
}

.sticky{
	background-color:rgba(0,0,0,0.3);
}


.entry-meta{
	background:rgba(0,0,0,.2);
	color:#fff;
	font-size:.8em;
	padding:1em;
	margin:1em 0;
}

.entry-meta a{
	color:#fff;
}

.entry-meta .genericon{
	vertical-align:middle;
}

.assistive-text{
	display:none;
}

#nav-below{
	width:100%;
	float:left;
	margin:1em 0 2em 0;
}

nav .nav-previous{
	float:left;
}

nav .nav-next{
	float:right;
}

.portfolio-meta{
	margin-right:1em;
}

.gallery figcaption a{
	color:#f23e2f;
}

.gallery .portfolio-meta{

.screen-reader-text{
	clip:rect(1px,1px,1px,1px);
	position:absolute!important;
}

.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus{
	background-color:#f1f1f1;
	border-radius:3px;
	box-shadow:0 0 2px 2px rgba(0,0,0,0.6);
	clip:auto!important;
	color:#21759b;
	display:block;
	font-size:14px;
	font-weight:bold;
	height:auto;
	left:5px;
	line-height:normal;
	padding:15px 23px 14px;
	text-decoration:none;
	top:5px;
	width:auto;
	z-index:100000;
}

.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{
	content:'';
	display:table;
}

.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{
	clear:both;
}

table{
	margin-bottom:1.5em;
	width:100%;
	max-width:100%;
}

thead tr:last-of-type th{
	border-bottom-width:2px;
}

th:empty{
}

th,td{
	vertical-align:top;
	padding:0.75em;
	border-bottom:1px solid rgba(0,0,0,0.3);
	border-right:1px solid rgba(0,0,0,0.3);
}

th{
	font-weight:bold;
	text-align:center;
}

table [colspan]{
	text-align:center;
}

table [rowspan]{
	vertical-align:middle;
}

[colspan="1"]{
	text-align:left;
}

[rowspan="1"]{
	vertical-align:top;
}

tfoot{
	text-align:center;
}

tfoot td{
	border-top-width:2px;
}

#wp-calendar{
	font-size:.8em;
}

#wp-calendar th,#wp-calendar td{
	text-align:center;
	padding:.25em;
}

#wp-calendar th{
	border-bottom:none;
}

#wp-calendar tfoot td{
	border-top:none;
}

.admin-bar #site-navigation{
	margin-top:28px;
	z-index:5;
}

.main-navigation{
	position:fixed;
	top:0;
	left:0;
	clear:both;
	display:block;
	float:left;
	width:100%;
	text-transform:uppercase;
	z-index:5;
	-webkit-transition:background-color 300ms linear;
	-moz-transition:background-color 300ms linear;
	-o-transition:background-color 300ms linear;
	-ms-transition:background-color 300ms linear;
	transition:background-color 300ms linear;
}

.main-navigation ul{
	list-style:none;
	margin:0;
	padding-left:0;
	float:right;
}

.main-navigation li{
	float:left;
	position:relative;
}

.main-navigation a{
	display:block;
	text-decoration:none;
	padding:1em;
}

.main-navigation ul ul{
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
	display:none;
	float:left;
	left:0;
	position:absolute;
	top:3.5em;
	z-index:99999;
	text-align:left;
	background:rgba(0,0,0,.2);
}

.main-navigation ul li:last-child ul{
	left:-100%;
}

.main-navigation ul ul ul{
	left:100%;
	top:0;
}

.main-navigation ul ul a{
	width:200px;
}

.main-navigation ul ul li{
}

.main-navigation li:hover>a{
}

.main-navigation ul ul :hover>a{
}

.main-navigation ul ul a:hover{
}

.main-navigation ul li:hover>ul{
	display:block;
}

.main-navigation .current_page_item a,.main-navigation .current-menu-item a{
	color:#f23e2f;
}

ul.subpage{
	list-style:none;
	margin:0 0 1em 0;
}

ul.subpage li{
	display:inline;
	margin-right:1em;
}

.menu-toggle{
	cursor:pointer;
	display:none;
}

.onesiepro-breadcrumbs{
	width:100%;
	float:left;
	margin:1em 0;
	text-transform:uppercase;
	font-size:0.8em;
}

.main-navigation li.twitter a,.main-navigation li.facebook a,.main-navigation li.feed a,.main-navigation li.vimeo a,.main-navigation li.google-plus a,.main-navigation li.pinterest a,.main-navigation li.github a,.main-navigation li.youtube a,.main-navigation li.linkedin a,.main-navigation li.instagram a,.main-navigation li.wordpress a{
	width:16px;
	height:100%;
	overflow:hidden;
	display:block;
}

li.twitter a:before,li.facebook a:before,li.feed a:before,li.vimeo a:before,li.wordpress a:before,li.google-plus a:before,li.pinterest a:before,li.github a:before,li.youtube a:before,li.linkedin a:before,li.instagram a:before,.menu-toggle:before{
	font-family:'Genericons';
	speak:none;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	text-shadow:none;
}


.genericon-medium{
	font-size:24px;
	height:24px;
	width:24px;
}

.sticky{
}

.hentry{
	margin:0 0 1.5em;
}

.byline,.updated{
	display:none;
}

.single .byline,.group-blog .byline{
	display:inline;
}

.page-content,.entry-content,.entry-summary{
	margin:1.5em 0 0;
}

.page-links{
	clear:both;
	margin:0 0 1.5em;
}

.blog .format-aside .entry-title,.archive .format-aside .entry-title{
	display:none;
}

.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{
	border:none;
	margin-bottom:0;
	margin-top:0;
	padding:0;
}

.wp-caption{
	border:1px solid rgba(0,0,0,.2);
	margin-bottom:1.5em;
	max-width:100%;
	background:rgba(0,0,0,.2);
}

.wp-caption img[class*="wp-image-"]{
	display:block;
	margin:1.2% auto 0;
	max-width:98%;
}

.wp-caption-text{
	text-align:center;
}

.wp-caption .wp-caption-text{
	margin:0.8075em 0;
}

.site-main .gallery{
	margin-bottom:1.5em;
}

.gallery-caption{
}

.slides .flex-caption{
	width:100%;
	text-align:center;
	color:#eeeeee;
	top:75%;
}

.site-main .gallery a img{
	border:none;
	height:auto;
	max-width:100%;
}

.site-main .gallery dd{
	margin:0;
}

.entry-image{
	position:relative;
}

.gallery-item,.gallery-sm-item{
	color:rgba(255,255,255,.5);
	position:absolute;
	bottom:0;
	right:0;
	padding:10px;
	z-index:9;
}

.gallery-item .genericon,.gallery-sm-item .genericon,.gallery-blog-item .genericon{
	font-size:26px;
	width:26px;
	height:26px;
}

.gallery-item:hover,.gallery-sm-item:hover,.gallery-blog-item:hover{
	color:rgba(255,255,255,.8);
}

embed,iframe,object{
	max-width:100%;
}

.site-main [class*="navigation"]{
	margin:0 0 1.5em;
	overflow:hidden;
}

.site-main .paging-navigation{
	margin-bottom:3em;

	float:left;
	width:100%;
}

.portfolio-meta-block{
	float:left;
}

[class*="navigation"] .nav-previous{
	float:left;
	width:50%;
}

[class*="navigation"] .nav-next{
	float:right;
	text-align:right;
	width:50%;
}

.comment-content a{
	word-wrap:break-word;
}

.bypostauthor{
}

.widget{
	margin:0 0 1.5em;
}

.widget select{
	max-width:100%;
}

.widget_search .search-submit{
	display:none;
}

.infinite-scroll .paging-navigation,.infinite-scroll.neverending .site-footer{
	display:none;
}

.infinity-end.neverending .site-footer{
	display:block;
}

body.custom-background{
	background-size:cover;
}

.site{
	width:90%;
	margin:3em auto;
	padding:0 5%;
	max-width:1280px;
}

#site-header,#site-header img{
	width:100%;
	float:left;
	height:auto;
}

.site-header{
	text-align:center;
	z-index:101;
}

.site-message{
	font-size:1.5em;
	line-height:1.5;
	margin-bottom:40px;
}

.site-header:before{
	content:'';
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-0.25em;
}

.site-branding{
	display:inline-block;
	vertical-align:middle;
	width:50%
}

.site-title.fixed,.not-home .site-title{
	position:fixed;
	top:0;
	left:0;
	width:auto;
	z-index:10;
}

h1.site-title.fixed,.not-home h1.site-title{
	font-size:28px;
	margin:10px 10px 0 10px;
}

.admin-bar h1.site-title.fixed,.admin-bar.not-home h1.site-title{
	margin-top:38px;
}

.site-header h1,.site-header h2,.site-header .btn{
	margin-bottom:40px;
}

.site-header h2{
	font-size:1.5em;
	line-height:1.5;
}

h2.widget-title,h3.widget-title{
	font-size:1.5em;
	text-transform:uppercase;
	margin:1em 0;
}

.page-title,.section-title{
	text-transform:capitalize;
}

.block{
	padding:80px 0;
	display:block;
	clear:both;
}

.not-home .site-header.block{
	padding:20px 0;
}

.gallery{
	list-style:none;
	padding:0;
	margin:0;
}

.gallery li,.gallery article{
	padding:0;
	display:inline-block;
	position:relative;
	float:left;
	width:30%;
	margin:0 5% 5% 0;
	background:#ffffff;
}

.archive .gallery article{
	padding:0;
}

.gallery li:nth-child(3n+0),.gallery article:nth-child(3n+0){
	margin-right:0;
}

.gallery li:nth-child(3n+1),.gallery article:nth-child(3n+1){
	clear:left;
}

.gallery figure img{
	max-width:100%;
	display:block;
	margin:0 auto;
}

.gallery figcaption{
	padding:5%;
	position:relative;
	float:left;
	width:100%;
}

.gallery figcaption h3{
	margin:10px 0;
	text-transform:uppercase;
	font-size:1em;
	color:#222;
}

.gallery figcaption h3 a{
	color:#222;
}

.gallery figcaption h3 a:hover{
	color:#f23e2f;
}

.gallery figcaption span{
	font-size:.9em;
	color:#999999;
}

.gallery figcaption .genericon{
	position:absolute;
	bottom:.5em;
	right:.5em;
	font-size:20px;
	width:20px;
	height:20px;
	color:#999999;
}

.gallery figcaption .genericon:hover{
	color:#f23e2f;
}

#colophon{
	float:left;
	width:100%;
}

.site-footer{
	margin-bottom:40px;
}

#up{
	float:right;
	padding:5px;
	border-radius:2px;
	width:26px;
	height:26px;
}

.sticky{
	background-color:rgba(0,0,0,0.3);
}

.menu-toggle{
	cursor:pointer;
	display:none;
	text-align:center;
	font-size:1em;
	margin:20px 0!important;
}

.archive article .entry-header{
	border:0;
	font-size:1em;
	margin:1em 0 0 0;
	padding:0;
}

.archive article{
	padding:40px 0;
}

.entry-meta{
	background:rgba(0,0,0,.2);
	color:#fff;
	font-size:.8em;
	padding:1em;
	margin:1em 0;
}

.entry-meta a{
	color:#fff;
}

.entry-meta .genericon{
	vertical-align:middle;
}

.edit-link{
	float:right;
}

.page .edit-link{
	clear:both;
	float:left;
}

.form-allowed-tags{
	display:none;
}

.assistive-text{
	display:none;
}

#nav-below{
	width:100%;
	float:left;
	margin:1em 0 2em 0;
}

nav .nav-previous{
	float:left;
}

nav .nav-next{
	float:right;
}

.portfolio-meta{
	margin-right:1em;
}

.gallery figcaption a{
	color:#f23e2f;
}

.gallery .portfolio-meta{
	float:left;
	width:100%;
}

.portfolio-meta-block{
	float:left;
}

#comments{
	float:left;
	width:100%;
}

#comments-title{
	padding:1em 0 0 0;
	font-size:1.5em;
}

article.comment{
	display:block;
}

#respond input[type=text]{
	display:block;
	width:40%;
}

#respond textarea{
	display:block;
	margin:0 0 1em;
	width:60%;
	border-radius:0;
}

#respond .form-allowed-tags{
	clear:both;
	width:60%;
}

#respond .form-allowed-tags{
	display:none;
}

.commentlist{
	margin:0;
	list-style-type:none;
}

.commentlist li{
	position:relative;
	float:left;
	width:100%;
}

.commentmetadata{
}

.pinglist{
	margin:20px 0 40px 52px;
	list-style-type:decimal;
}

#commentform{
	margin-top:20px;
}

.children{
	list-style-type:none;
	margin-left:55px;
}

#primary .commentlist ul{
	margin-bottom:0;
}

.comment .avatar{
	float:left;
	margin:0 1em .5em 0;
}

.comment-author{
	display:inline;
	margin-right:5px;
}

.comment-author cite{
	font-weight:bold;
}

.comment-meta{
	display:block;
	font-size:11px;
}

.comment-body{
	margin:0 0 30px 55px;
}

.comment-reply-link{
	font-size:.8em;
	padding:3px;
	text-transform:uppercase;
}

#cancel-comment-reply-link{
	color:red!important;
}

#respond{
	padding-bottom:35px;
}

#respond h3{
	font-size:14px;
	font-weight:bold;
}

.nocomments{
	text-align:center;
	padding:20px;
}

.comment-body ul{
	list-style-type:disc;
}

.comment-body ol{
	list-style-type:decimal;
}

#commentform label small{
	font-size:12px;
}

.comment-author-admin article{
	padding:1em 0;
}

.comment-author-admin footer{
	left:1em;
}

.page-header{
	border:0;
	margin-top:0;
}

.alert,.breadcrumb,.btn,.form-control,.modal-content,.img-thumbnail{
	border-radius:0;
}

.btn-translucent{
	border:1px solid rgba(255,255,255,.7);
}

input[type="submit"]{
	background:rgba(0,0,0,.2);
	color:#fff;
	border:none;
	padding:2px 10px;
	text-transform:uppercase;
	border:1px solid rgba(255,255,255,.3);
}

input[type="submit"]:hover,input[type="submit"]:focus{
	background:rgba(0,0,0,.3);
	border:1px solid rgba(255,255,255,.4);
}

.btn-translucent:hover,.btn-translucent:focus{
	background:rgba(0,0,0,.3);
	border:1px solid rgba(255,255,255,.9);
	color:#fff;
}

.btn-xl{
	padding:10px 18px;
	font-size:2em;
	font-size:2rem;
	line-height:1.33;
}

.sell-media-search-form{
	border:0;
	background-color:rgba(0,0,0,.1);
}

.sell-media-search-form.active{
	background-color:#fff;
}

.sell-media-meta .keywords a{
	border-radius:2px;
	background-color:rgba(0,0,0,.2);
	color:#fff;
	line-height:2.1em;
	margin-right:4px;
	padding:4px 8px;
	font-size:0.8em;
	text-decoration:none;
	white-space:nowrap;
}

.sell-media-meta .keywords a:hover{
	color:#fff;
	background-color:rgba(0,0,0,.4);
}


@media screen and (max-width: 767px) {
	.menu-toggle,.main-navigation.toggled .nav-menu,.main-navigation.toggled li{
		display:block;
		width:100%;
	}

	.main-navigation ul ul,.main-navigation ul ul a,.main-navigation ul ul ul{
		position:relative;
		display:block;
		background:transparent;
		text-align:center;
		width:100%;
		top:0;
		left:0;
		font-size:0.9em;
		box-shadow:none;
	}

	.main-navigation ul{
		display:none;
	}

	.main-navigation li.twitter a,.main-navigation li.facebook a,.main-navigation li.feed a,.main-navigation li.vimeo a,.main-navigation li.wordpress a,.main-navigation li.google-plus a,.main-navigation li.pinterest a,.main-navigation li.instagram a{
		float:none;
		margin:0 auto;
		width:auto;
	}

}

@media screen and (max-width: 600px) {
	.block{
		padding-top:20px;
		padding-top:150px;

	}

	.site-branding{
		width:100%
	}

	.block{
		height:auto!important;
	}

	.gallery li,.gallery article{
		display:block;
		position:relative;
		width:100%;
		margin:0 auto 2em;
	}

	nav.main-navigation{
		background-color:rgba(0,0,0,1);
	}

	.site-title.fixed{
		display:none;
	}

	#menu-short{
		overflow-y:auto;
		max-height:400px;
	}

}
