.nav-pills .nav-link.active,
.show > .nav-pills .nav-link {
  background-color: #001429; }

.nav-pills .nav-link {
  color: #001429; }

.navbar {
  background-color: #001429 !important; }
  .navbar ul li {
    float: right; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9FAFB;
  padding: 0;
  color: #3E4E57; }

a {
  color: #007ACE; }

small {
  font-size: 14px; }

footer {
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 50px 0px;
  background-color: #001429; }

.fa-trophy {
  color: goldenrod; }

.btn-social {
  background-color: #922339;
  border: #922339; }

.btn-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.content {
  margin-bottom: 250px; }

.about {
  background: url(../img/slider.jpg) no-repeat;
  min-height: 500px;
  background-size: cover;
  padding-top: 100px; }
  .about p {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #F4F6F8; }
    .about p span {
      color: white;
      font-weight: bolder; }
  .about button {
    margin-right: 15px; }
    .about button:hover {
      color: black; }

.about__socials a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  padding-right: 15px; }

.about__title {
  font-size: 3em;
  text-align: center;
  color: white; }
  
.contact__header {
	height: 200px;
	background: url(../img/contact_header.jpg) no-repeat;
	min-height: 100px;
	background-size: cover;
	padding-top, padding-bottom: 50px; }
	
	.contact__header span {
		font-size: 3em;
		color: white; }

.contact__body {
	margin-top:25px;
}

.divisions {
  color: #001429;
  padding-bottom: 20px; }
  .divisions h2 {
    padding-top: 50px;
    font-weight: 600;
    color: #001429; }

.division__spacecraft,
.division__rocketry,
.division__robotics,
.division__special {
  padding: 20px 0px; }

.division__title span {
  color: #3E4E57;
  font-size: 1.8em;
  font-weight: 600; }

.division__card {
  padding: 15px 15px 15px 0px !important;
  border-radius: .5em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.division__card__action p {
  line-height: 1;
  margin: 0;
  font-size: 1.8em; }
.division__card__action span {
  font-weight: bold;
  color: #BF0711; }
.division__card__action a {
  color: black; }

.footer__social a {
  text-decoration: none;
  font-size: 2.5em;
  color: white;
  padding-right: 15px; }

.footer__join {
	margin: 0px;
	margin-top: -20px;
}
  
.footer__copyright {
  color: white; }

.exec__body,
.faq__body,
.history__body,
.mission__body {
  font-size: 18px; }
  .exec__body h1,
  .exec__body h2,
  .faq__body h1,
  .faq__body h2,
  .history__body h1,
  .history__body h2,
  .mission__body h1,
  .mission__body h2 {
    padding-top: 50px; }
  .exec__body h4,
  .faq__body h4,
  .history__body h4,
  .mission__body h4 {
    padding-top: 50px;
    font-weight: 600; }
  .exec__body div,
  .faq__body div,
  .history__body div,
  .mission__body div {
    text-align: justify; }
	
.exec__images {
	margin-top:50px;
}

.exec__block {
	margin-bottom:10px;
}

.exec__block img {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.exec__block h3{
	font-size:25px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

.exec__block h4 {
	font-size:20px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
	text-align:center;
}

.exec__images div {
  padding-bottom: 50px;
  text-align: center; }

.exec__header {
  height: 500px;
  background: url(../img/exec_header.jpg) no-repeat;
  background-size: cover; }
.exec__header span {
    font-size: 3em;
    color: white; }

.mission__header {
  height: 500px;
  background: url(../img/mission_header.jpg) no-repeat;
  background-size: cover; }
  .mission__header span {
    font-size: 3em;
    color: white; }
	
.mosaic {
	margin-left:20px;
	margin-right:20px;
}

#myMosaic {
	margin-bottom:250px;
}

.history__header {
  height: 500px;
  background: url(../img/history_header.jpg) no-repeat;
  background-size: cover; }
  .history__header span {
    font-size: 3em;
    color: white; }

.faq__header {
  height: 500px;
  background: url(../img/faq_header.jpg) no-repeat;
  background-size: cover; }
  .faq__header span {
    font-size: 3em;
    color: white; }

.sponsors {
  padding-top: 50px; }

.sponsor__platinum div,
.sponsor__gold div,
.sponsor__silver div {
  text-align: center; }
  @media (max-width: 991px) {
    .sponsor__platinum div,
    .sponsor__gold div,
    .sponsor__silver div {
      padding-bottom: 20px; } }

.sponsor__label {
  font-size: 3em;
  font-weight: 600; }

.sponsor__title {
  font-size: 1.8em;
  text-align: center;
  color: #084E8A;
  font-weight: bold; }

.sponsors__header {
  font-size: 20px;
  min-height: 500px;
  color: white;
  background: url(../img/sponsors_header.jpg) no-repeat; }
  .sponsors__header .text {
    padding-top: 150px;
    text-align: justify; }

@media (min-width: 768px) {
  .float-right-lg {
    float: right; } }
@media (max-width: 991px) {
  .font-sm-size {
    font-size: .5em; }

  .justify-sm-center {
    justify-content: center; }

  .text-sm-center {
    text-align: center; }

  .padding-sm-t2 {
    padding-top: 20px; } }

/*# sourceMappingURL=main.css.map */
