<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">	
		<div>
		<br>
				<p>Space Concordia is a student-run society dedicated to performing astronautics and aerospace projects. 
				Students participating in Space Concordia will get a chance to learn the necessary skills to work in the challenging environment presented by
				aerospace and astronautics companies. Alumni of Space Concordia have even had the opportunity to work for organizations like MDA 
				or the Canadian Space Agency. If you're interested in working on projects which will pit your engineering skills 
				against some of the most challenging environmental conditions, most extreme speeds, and the most complex 
				missions of the final frontier, then this is the society for you!</p>
				<br>
				<p>We have three major divisions:</p>
				<br>
				<p>Spacecraft: Whether it's putting the final touches on the space-bound ConSat-1, 
				or working on the Aleksandr satellite for the next iteration of the Canadian Satellite Design Challenge, 
				the spacecraft division gives engineers from many different specialties a chance to tackle 
				the challenges presented by space flight.</p>
				<br>
				<p>Rocketry: Participating in the Intercollegiate Rocket Engineering Competition, our Rocketry Division
				is designing and building a rocket to fly to 10,000 feet carrying an experimental payload. 
				If you want to build atmospheric vehicles that travel higher and faster than anything else built at Concordia, 
				this is the place for you.</p>
				<br>
				<p>Robotics: Attending the University Rover Challenge in Utah with a rover that is designed to execute complex 
				tasks such as astronaut assistance, on-board soil analysis, and long distance communication, the robotics division 
				is in the business of building some of the smartest machines for the worst environments.</p>
				<br>
				<a href="frosh.html">Please refer to our FAQ</a>
		</div>	
</div>
</body>
