<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
			<div class="content-area divisions">
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a href="spacecraft.html"><p>SPACECRAFT DIVISION</p></a>
						</div>
						<div>
							<br>
							<p>The Spacecraft division aims to compete in the Canadian Satellite Design Challenge (CSDC). This competition happens every two years. The goal is to design and build a small
							satellite which will undergo environmental qualifications and launch testing. It may eventually be launched into orbit to perform scientific research. SC has had much success in the
							competition throughout the years. In the first edition of CSDC, our cubesat ConSat-1 won 1st place. Following this success, we won 2nd place in the second edition,
							introducing a completely new cubesat named ConSat-2 (Aleksandr). Currently, the team is hard at work and eager to compete in the third edition of CSDC in May 2016.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a href="rocketry.html"><p>ROCKETRY DIVISION</p></a>
						</div>
						<div>
						<br>
							<p>The Rocketry division aims to compete in the Intercollegiate Rocket Engineering Competition (IREC). This is a yearly competition which hosts some of the top
							aerospace engineering schools in the world. The team brings together students from all disciplines to design and build a sounding rocket. The rocket must transport
							a 10 pound payload to an altitude of around 10,000 ft. There are also significant points awarded for recovering the rocket to the ground at a slow  enough speed to cause
							no damage, as well as being able to track the rocket's position throughout the flight using wireless telemetry. Rocketry has recently returned from competing in 2015
							IREC in Utah. We won the 2nd place payload award out of approximately 35 teams. This is a huge achievement and the team is excited to compete next year inJune 2016.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a href="robotics.html"><p>ROBOTICS DIVISION</p></a>
						</div>
						<div>
							<br>
							<p>The Robotics division came in existence as a result of a big capstone project. Over the course of a year, we designed and built a rover for the University
							Rover Competition in Utah. The rover is supposed to function in a simulated Mars Environment. The Robotics Division also gets to work on other robotics projects.
							This year, we are planning to send a team to IEEE's RoboWars competition.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a><p>GROUND STATION DIVISION</p></a>
						</div>
						<div>
							<br>
							<p>The Ground Station division is SC's newest addition. They aim to monitor and communicate with the satellites once they are launched.</p>
						</div>
					</section>
				</main>
		</div>
	</div>
</body>
