<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="assets/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles.css" type="text/css" media="all">
	<link rel="stylesheet" href="assets/styles_responsive.css" type="text/css" media="all">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>$(function(){$("#navigation").load("menu.html");});</script>

</head>
<body>
	<nav id="navigation">	
	</nav>
	<div class="content-container site">
			<div class="content-area">
			<div id="frosh-block" class="frosh-block" style="content: ' '; overflow:hidden ">
				<div class="frosh" style="width:70%; float:left;">
				<br>
				<h3>Are you a new student at Concordia? Wanna join our student society? Here is are a few of our frequently asked questions that might help on your decision making.</h3>				
				<main class="site-main">				
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>WHY SHOULD I JOIN SPACE CONCORDIA?</p></a>
						</div>
						<div>
							<p>You will pick up the technical and research skills required in industry, which are not always taught in class. You will gain experience in working with engineers of different disciplines, giving you more perspective on how different engineers think and work.
							You get to work on a project from start to finish. You will meet lots of cool people! Your 4 years spent in Engineering school will be much more enjoyable with good friends surrounding you! Joining SC is a great way to meet new people! We don't bite!</p>
						</div>
					</section>
				</main>
								<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>I'M A FIRST YEAR STUDENT AND I DON'T HAVE MUCH TECHNICAL KNOWLEDGE, BUT I WANT TO BE INVOLVED. CAN I STILL HELP?</p></a>
						</div>
						<div>
							<p>Many of our members start off as first year students eager to learn. While there are many advanced technical tasks, there are still a surprising amount of small beginner tasks. We are not all born with the ability to design
							satellites, rockets and robots. And hey - we have to all start somewhere! If you are eager to learn, we have plenty of members ready to help you out. If you have a skill, there's a good chance we can put it to use - just ask what you can do!</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>I'M NOT AN ENGINEERING STUDENT, BUT I STILL WANT TO JOIN. CAN I?</p></a>
						</div>
						<div>
							<p>Absolutely! We welcome students in all faculties. We currently have members from JMSB and A&S faculties.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>DO I GET ANY INDUSTRY EXPERIENCE FROM BEING IN SPACE CONCORDIA?</p></a>
						</div>
						<div>
							<p>In our humble opinions, being involved in a project from beginning to end gives you more practical experience than some internships. Employee are interested in involved students.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>HOW DO I GET MORE BACKGROUND KNOWLEDGE ON SPACE ENGINEERING?</p></a>
						</div>
						<div>
							<p>We have both an in-lab library and plenty of online resources available!</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>IF I JOIN, HOW DO I COMMUNICATE WITH MY TEAM AND KNOW WHEN TO SHOW UP FOR MEETINGS?</p></a>
						</div>
						<div>
							<p>All our members get an email address (your.name@spaceconcordia.ca). We have a shared google drive, making it easy to share and view files!</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>SO YOU WANT TO BE A MEMBER?</p></a>
						</div>
						<div>
							<p>Now, you figure out what part you want to play within the society.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>DO YOU WANT TO JOIN A DIVISION?</p></a>
						</div>
						<div>
							<p>Awesome! If  you're unsure of where you want to work, talk to our council or division members. Everyone has different insights and some members have been here for years.
							If you join a division, you start off as a probationary member. This means that for a minimum of one month, you cannot enter the SpaceLab without an existing member present. Not to worry though,
							the lab is usually occupied and open. You also have to wait until you are a full member to vote in elections and council meetings, and to acquire the lab code.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>HOW DO YOU BECOME A FULL MEMBER?</p></a>
						</div>
						<div>
							<p>A current member needs to nominate you after a minimum of a month to become a full member.</p>
						</div>
					</section>
				</main>
				<main class="site-main">
					<section class="block">
						<div class="lead-intro">
							<a class="title"><p>THERE ARE SO MANY MEETINGS! WHICH ONES DO YOU NEED TO ATTEND?</p></a>
						</div>
						<div>
							<p>There are several types of meetings held within the SC that are similar across the board. The ones that apply to the entire society are: General Meetings,
							which are held at least twice per semester. This is for the entire society, and any students interested in joining. Open council meetings, called when council needs to call a vote. Members are then invited to attend and participate in the discussion.
							Division and team meetings are called by the respective leads at their discretion. Members are expected to attend all meetings. If the meeting clashes with an academic obligation, members are expected to let the meeting organizer know that they cannot attend.</p>
						</div>
					</section>
				</main>
			</div>
			<div class="events" style="width:30%; float:left; padding-left:15px">
			<br>
								<p>Upcoming Frosh Events</p>
								<br>
<a href="froshevents.html">Info Session (September 14th 5pm)</a>
<br><a href="froshevents.html">Super Smash tournament: Friday, September 18th (6pm-11pm)</a>
<br><a href="froshevents.html">Scavenger Hunt: Saturday, September 26th (6pm)</a>
			</div>
			</div>
			</div>
		</div>
</body>
