		<div class="site">			
			<div id="navigation-wrapper">
				<ul class="menu-left menu">
					<li id="concordia-title"><a href="index.html">SPACE CONCORDIA</a></li>
					<li><a href="https://www.facebook.com/Space.Concordia"><img src="assets/images/logo.png" style="height:45px;margin-top: -10px;"alt></a></li>
				</ul>
				<ul class="menu-right menu">
					<!-- <li><a href="news">NEWS</a></li> -->	
					<li><a href="frosh.html">FROSH 2015</a></li>
					<li><a href="aboutus.html">ABOUT US</a>
					        <ul>
								<li><a href= "recruitment.html">Recruitment</a></li>
								<li><a href="members.html">Our Members</a></li>
								<li><a href="todo.html">Alumni</a></li>
							</ul>
					</li>
					<li><a href="divisions.html">OUR DIVISIONS</a>
							<ul>
								<li><a href= "spacecraft.html">Spacecraft</a></li>
								<li><a href="rocketry.html">Rocketry</a></li>
								<li><a href="robotics.html">Robotics</a></li>
							</ul>
					</li>
					<li><a href="sponsors.html">SPONSORS</a></li>
					<li><a href="members.html">MEMBERS</a>
							<ul>
								<li><a href="todo.html">Constitution</a></li>
								<li><a href="todo.html">Facilities</a></li>
								<li><a href="todo.html">Calendar</a></li>								
							</ul>
					</li>
					<!--
					<li><a href="https://www.facebook.com/Space.Concordia"><img style="margin-top: -5px;" src="assets/images/fb.png" alt></li>
					<li><a href="https://www.linkedin.com/company/space-concordia"><img style="margin-top: -5px;" src="assets/images/lin.png" alt></li>
					<li id="menu-last"><a href="https://twitter.com/spaceconcordia"><img style="margin-top: -5px;" src="assets/images/twit.png" alt></li>-->
				</ul>
			</div>
		</div>			
		<div class="menu-bottom">
			<div class="site" style="padding-top:3px;">
				<a style="color:#FFF;font-size:16px;">CONCORDIA'S STUDENT-RUN ASTRO-NAUTICAL ENGINEERING SOCIETY</a>
			</div>
		</div>				